---
import FormattedDate from "../Blog/FormattedDate.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<>
  <h3>Posts</h3>
  {
    posts.map((post) => (
      <li class="post-list__post">
        <FormattedDate date={post.data.pubDate} />
        <a class="post-list__post__title" href={`/blog/${post.slug}`}>
          {post.data.title}
        </a>
        <p class="post-list__post__description">{post.data.description}</p>
        <a class="post-list__post__read-more" href={`/blog/${post.slug}`}>
          read more
        </a>
      </li>
    ))
  }
</>

<style lang="scss">
  h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .post-list {
    &__post {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      &__title {
        margin-top: 0.5rem;
        font-weight: bold;
        text-decoration: underline;

        &:hover {
          color: var(--accent-light-blue);
        }
      }

      &__description {
        color: var(--secondary-text);
      }

      &__read-more {
        font-size: 0.75rem;
        margin-top: 0.5rem;

        &:hover {
          color: var(--accent-light-blue);
        }
      }
    }
  }
</style>
