---
import FormattedDate from "../Blog/FormattedDate.astro";
import { getCollection } from "astro:content";
import { isDev } from "../../constants";

const posts = (
  await getCollection("blog", ({ data }) => (isDev ? true : !data.isDraft))
).sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf());
---

<>
  <h3>Posts</h3>
  <ul>
    {
      posts.map((post) => (
        <li class="post-list__post">
          <FormattedDate date={post.data.pubDate} />
          <a class="post-list__post__title" href={`/blog/${post.slug}`}>
            {post.data.title}
          </a>
          <p class="post-list__post__description">{post.data.description}</p>
          <a class="post-list__post__read-more" href={`/blog/${post.slug}`}>
            read more
          </a>
        </li>
      ))
    }
  </ul>
</>

<style lang="scss">
  h3 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .post-list {
    &__post {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      &__title {
        margin-top: 0.5rem;
        font-weight: bold;
        text-decoration: underline;

        &:hover {
          color: var(--accent-light-blue);
        }
      }

      &__description {
        color: var(--secondary-text);
      }

      &__read-more {
        font-size: 0.75rem;
        margin-top: 0.5rem;

        &:hover {
          color: var(--accent-light-blue);
        }
      }
    }
  }

  @media only screen and (min-width: 48em) {
    .post-list {
      &__post {
        &__title {
          font-size: 2rem;
        }

        &__description {
          font-size: 1.25rem;
        }

        &__read-more {
          font-size: 1rem;
        }
      }
    }
  }
</style>
